<h3 class="text-center">Step 2: Please scan QRCode on our page to login</h3>

<div class="text-center">
  <video autoplay id="video">Video stream not available.</video>

  <p id="status">Scanning...</p>
  <p>Link: <a id="decode" target="_blank" href="#"></a></p>
</div>


<canvas style="display: none" id="canvas">
</canvas>


<script src="/javascripts/qrparser.min.js"></script>
<script src="/javascripts/scanner.js"></script>
