{{#if loginId}}

<h3 class="text-center">LoginId: {{ loginId }}</h3>
<p class="text-center">Please scan a browser QRCode to login</p>

<div class="text-center">
  <video id="video">Video stream not available.</video>

  <p id="status">Scanning...</p>
</div>


<script src="/javascripts/qrparser.min.js"></script>
<script src="/javascripts/scanner.js"></script>

{{else}}

<h3>Please scan a loginId QRCode</h3>

{{/if}}
