
<h1 class="text-center">{{title}}</h1>

<div class="jumbotron">
  <div class="list-group">
    <a href="/loginID" class="list-group-item list-group-item-action">Gen LoginID</a>
    <a href="/scanner" class="list-group-item list-group-item-action">QRCode Scanner</a>
    <!-- <a href="/userPage" class="list-group-item list-group-item-action">User Page</a> -->
  </div>
</div>
