<h1 class="text-center">LoginID</h1>


<div class="text-center">
  <canvas id="qrcode_canvas"></canvas>
  <h3>LoginID: 1234</h3>
</div>

<script src="/javascripts/loginIdGenerator.min.js"></script>
