<h1 class="text-center">LoginID</h1>


<div class="text-center">
  <canvas id="qrcode_login" width="300" height="300"></canvas>

  <h3>LoginID: {{ loginId }}</h3>
</div>


<script src="/javascripts/qrcode.min.js"></script>
<script type="text/javascript">
  (function () {
    var urlToCanvas = location.protocol + '//' + location.host + '/scanBrowser' + '?loginId=' + '{{ loginId }}'

    QRCode.toCanvas(document.getElementById('qrcode_login'), urlToCanvas, { errorCorrectionLevel: 'H' }, function (err, canvas) {
      if (err) return console.log(err);
    })
  }())
</script>
