<video autoplay id="video">Video stream not available.</video>

<canvas style="display: none" id="canvas">
</canvas>

<p class="">
  Link: <a id="decode" target="_blank" href="#"></a>
</p>

<script src="/javascripts/qrparser.min.js"></script>
<script src="/javascripts/scanner.js"></script>
