
<h1 class="text-center">Scan QRCode below to Login</h1>

<div class="text-center">
    <canvas id="qrcode_verify" width="300" height="300"></canvas>
</div>



<script src="/javascripts/qrcode.min.js"></script>
<script type="text/javascript">
  (function () {
    var cookies = {{{ cookies }}}
    console.log(cookies);

    var stringToCanvas = cookies['connect.sid']

    QRCode.toCanvas(
      document.getElementById('qrcode_verify'),
      stringToCanvas,
      { errorCorrectionLevel: 'H', width: 100 }, function (err, canvas) {
      if (err) return console.log(err);

      var int = setInterval(function () {
        if (window.QRLogin) {
          clearInterval(int)
          var socket = window.QRLogin.socket
          socket.emit('browser login qrcode ready', stringToCanvas)

          socket.on('browser-device connected', function (empty_str) {
            location = '/userPage'
          })
        }
      });

    })
  }())
</script>
