
<h1 class="text-center">Login</h1>

<div class="text-center">
    <canvas id="qrcode_browser" width="300" height="300"></canvas>
</div>


<script src="/javascripts/qrcode.min.js"></script>
<script type="text/javascript">
  (function () {

    // get connect.sid for canvas
    var roomId = '{{ roomId }}'
    if (!roomId) {
      location.reload()
    }

    // generate browser qrcode
    QRCode.toCanvas(
      document.getElementById('qrcode_browser'),
      roomId,
      { errorCorrectionLevel: 'H', width: 100 }, function (err, canvas) {
      if (err) return console.log(err);

      // getting the global window socket
      var int = setInterval(function () {
        if (window.QRLogin) {
          clearInterval(int)
          var socket = window.QRLogin.socket

          // Event emitters
          socket.emit('browser qrcode ready', roomId)

          // Event receivers
          socket.on('browser-device connected', function (roomId, loginId) {
            var data = { roomId: roomId, loginId: loginId }
            console.log(data);

            $.ajax({
              method: "POST",
              url: '/uponLogin',
              data: JSON.stringify(data),
              contentType : 'application/json',
              success: function( msg ) {
                console.log( msg );
                location = '/dashboard'
              },
              error: function( msg ) {
                console.log(msg)
              }
            })
          })
        }
      });

    })
  }())
</script>
